body {
    font-family: 'Georama', sans-serif;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
input{
    width: 100%;
    text-align: center;
    border: 1px $border-color solid;
}
input:focus-visible{
    border: 1px $secodary-color solid;

}