/** Font Weight*/

.text_bold {
    font-weight: bold;
}

.text_regular {
    font-weight: 500;
}

.text_thin {
    font-weight: 100;
}


/** Font Size*/

.text_large {
    font-size: 20px;
}

.text_mid {
    font-size: 15px;
}

.text_small {
    font-size: 10px;
}


/** Text Align*/

.text_center {
    text-align: center
}