$size: 10px;
$box-size: 100%;
$primary-color: #FB641B;
$secodary-color: #F9F9F9;
$text-primary-color: #737373;
$text-dark-color: #000;
$text-light-color:#fff;
$border-color: #f0f0f0;
$page-color:#fff;